        </article>
        <div class="col-md-2">
          <div id="navbar" class="bs-docs-sidebar hidden-print hidden-xs hidden-sm">
            <ul id="sidebar" class="nav bs-docs-sidenav"
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}javascripts/main.js"></script>
  </body>
</html>
