<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>Avian</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}stylesheets/stylesheet.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}stylesheets/pygments.css"/>
  </head>
  <body>
    <header class="bs-docs-container">
      <a id="discuss_banner" href="https://groups.google.com/group/avian">Discuss on Groups</a>
      <a id="forkme_banner" href="https://github.com/ReadyTalk/avian">View on GitHub</a>
      <div class="inline-logo">
        <img src="{{ site.baseurl }}images/kite.png"></img>
        <h1>Avian</h1>
      </div>
      <h2>A lightweight alternative to Java</h2>
    </header>
    <div class="container bs-docs-container">
      <div class="row">
        <article class="col-md-9">
